iframe {
    border: 0px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.d-f {
    display: flex
}

.a-i-c {
    align-items: center
}

.j-c-eq {
    justify-content: space-evenly
}

.m-l-10 {
    margin-left: 10px
}

.p-t-5 {
    padding-top: 5px
}
