h1, h2 {
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 4rem;
    margin-bottom: 0
}

h3 {
    text-align: center;
    /* margins moved to title-chip-container */
    margin: 0;
    /* shift bottom a bit to align with chip text */
    padding-top: 5px;
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

iframe {
    border: 0px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.d-f {
    display: flex
}

.f-d-c {
    flex-direction: column
}

.a-i-c {
    align-items: center
}

.j-c-eq {
    justify-content: space-evenly
}

.j-c-c {
    justify-content: center
}

.m-b-10 {
    margin-bottom: 10px
}

.m-b-10-i {
    margin-bottom: 10px !important
}

.m-b-15-i {
    margin-bottom: 15px !important
}

.m-r-5 {
    margin-right: 5px
}

.m-b-5 {
    margin-bottom: 5px
}

.m-t-10 {
    margin-top: 10px
}

.m-t-30 {
    margin-top: 30px
}

.m-t-64 {
    margin-top: 64px
}

.m-l-n30 {
    margin-left: -30px
}

.title-chip-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* move margins from h3 to here, so h3 and chips are aligned */
    margin-top: 3rem;
    margin-bottom: 32px;
}

.btn-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.chip {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 1rem;
    flex-wrap: wrap;
    max-width: 300px;
    justify-content: end;
}

@media (max-width: 640px) {
    .btn-row {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-row a {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .title-chip-container {
        flex-direction: column;
        margin-bottom: 22px;
    }

    .s-m-b-10 {
        margin-bottom: 10px;
    }

    .chip {
      justify-content: center;
      max-width: unset;
    }
}

.cmap-imgs {
    width: calc(min(400px, 50vw));
}

.chip li {
    background-color: #fccece;
    /* same --text var from light theme, but for dark mode as well */
    color: #212121;
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    /* inner text is vertically aligned to top, so slightly reduce padding in bottom */
    padding-bottom: 8px;
    margin: 3px;
}

hr {
    width: 100%;
}

.chart {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px #ddd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: #ffb4b4;
    }

    img {
      /* remove rule from simple.css */
        opacity: 1;
    }

    .inv-dark {
        filter: invert(1);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --accent: #F06A6A;
    }
}

.title {
    background: linear-gradient(to right, #ffb4b4, #F06A6A);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
